In [3]:
# NUMPY ARRAYS :

In [18]:
import numpy as np
a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [3]:
b = np.array([1.2, 3.5, 5.1])

In [4]:
#Give only one argument, not multiple.
#c = np.array(1, 2, 3, 4) //WRONG
c = np.array([1, 2, 3, 4])

In [5]:
#array transforms sequences of sequences into 2D arrays. The same for 3D.
d = np.array([(1.5,2,3), (4,5,6)])
d

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

In [6]:
#The type of array can be specified at creation :
c = np.array([ [1,2], [3,4]], dtype=complex)
c

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

In [7]:
# Often,the elements of an array are originally unknown, but it's size is known

# The function 'zeros' creates an array full of zeros, the function 'ones' 
# creates an array full of 1's, and the function 'empty' creates an array 
# whose initial elements are random.

In [8]:
np.zeros((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [9]:
np.ones((2, 3, 4), dtype=np.int16)

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [10]:
np.empty((1, 3, 6))

array([[[4.67296746e-307, 1.69121096e-306, 1.69121503e-306,
         1.89146896e-307, 7.56571288e-307, 3.11525958e-307],
        [1.24610723e-306, 1.37962320e-306, 1.29060871e-306,
         2.22518251e-306, 1.33511969e-306, 1.78022342e-306],
        [1.05700345e-307, 1.11261027e-306, 1.69118515e-306,
         1.78021119e-306, 8.34445562e-308, 2.22507386e-306]]])

In [11]:
# To create sequences of numebers, there is the function 'arrange' witch
# is analogous to the built-in 'range', but returns an array :

np.arange(0, 2, 0.3)

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

In [12]:
np.arange( 10, 30, 5)

array([10, 15, 20, 25])

In [13]:
# Do not use arange with floating point arguments. The result is unpredictable:

np.linspace(0, 2, 9)

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [17]:
from numpy import pi
x = np.linspace(0, 2*pi, 10)
np.sin(x)

array([ 0.00000000e+00,  6.42787610e-01,  9.84807753e-01,  8.66025404e-01,
        3.42020143e-01, -3.42020143e-01, -8.66025404e-01, -9.84807753e-01,
       -6.42787610e-01, -2.44929360e-16])

In [20]:
#PRINTING ARRAYS :

In [21]:
#When printing arrays, NumpPy displays it in a similar wat to nested lists, but
#with the following layout :

#    the last axis is printed from left to right

#    the second-to-last is printed from top to bottom

#    the rest are also printed from top to bottom, with each slice separated
#    from the next by an empty line.

In [22]:
# One dimentional arrays are printed as rows, bidimentional as matrices and 
# tridimentional as lists of matrices :

In [23]:
a = np.arange(6)
print(a)

[0 1 2 3 4 5]

In [24]:
b = np.arange(12).reshape(4, 3)
print(b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [25]:
c = np.arange(24).reshape(2, 3, 4)
print(c)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

In [26]:
# If an array is too big to be printed, numpy skips the middle numers :

print(np.arange(10000))

[   0    1    2 ... 9997 9998 9999]

In [30]:
print(np.arange(10000).reshape(100, 100))

[[   0    1    2 ...   97   98   99]
 [ 100  101  102 ...  197  198  199]
 [ 200  201  202 ...  297  298  299]
 ...
 [9700 9701 9702 ... 9797 9798 9799]
 [9800 9801 9802 ... 9897 9898 9899]
 [9900 9901 9902 ... 9997 9998 9999]]

In [28]:
# DO NOT RUN THIS
# To disable this behavior, change the printing option using :
from numpy import sys
np.set_printoptions(threshold=sys.maxsize)

NameError: name 'sys' is not defined

In [ ]:
# BASIC OPERATIONS :

In [34]:
# Arithmetic operations on arrays apply ELEMENTWISE. An array is created 
# and filled with the result :

a = np.array( [20, 30, 40, 50] )
b = np.arange( 4 )
b

array([0, 1, 2, 3])

In [35]:
c = a - b
c

array([20, 29, 38, 47])

In [36]:
b**2

array([0, 1, 4, 9], dtype=int32)

In [37]:
10*np.sin(a)

array([ 9.12945251, -9.88031624,  7.4511316 , -2.62374854])

In [38]:
a < 35

array([ True,  True, False, False])

In [39]:
# The matrix product can be preformed using the '@' operator or the dot 
# function method :

In [42]:
A = np.array( [[1,1],
               [0,1]] )

B = np.array( [[2,0],
               [3,4]])

A * B

array([[2, 0],
       [0, 4]])

In [43]:
A @ B

array([[5, 4],
       [3, 4]])

In [44]:
A.dot(B)

array([[5, 4],
       [3, 4]])

In [1]:
# Some operators such as += and *= modify the array and do not create a new one :

In [37]:
rg = np.random.default_rng(1)   #Creates instance of default random number generator
a = np.ones((2, 3), dtype=int)
b = rg.random((2, 3))
a *= 3
a

array([[3, 3, 3],
       [3, 3, 3]])

In [9]:
b += a
b

array([[3.51182162, 3.9504637 , 3.14415961],
       [3.94864945, 3.31183145, 3.42332645]])

In [10]:
a += b #fails

UFuncTypeError: Cannot cast ufunc 'add' output from dtype('float64') to dtype('int32') with casting rule 'same_kind'

In [ ]:
# When oprating with arrays of different types, the type of the resulting array correspondes to
# the more general or precise one ( a behaviour known as upcasting) :

In [13]:
a = np.ones(3, dtype=np.int32)
b = np.linspace(0, pi, 3)
b.dtype.name

'float64'

In [15]:
c = a + b
c.dtype.name

'float64'

In [16]:
d = np.exp(c*1j)
d

array([ 0.54030231+0.84147098j, -0.84147098+0.54030231j,
       -0.54030231-0.84147098j])

In [23]:
d.dtype.name

'complex128'

In [18]:
# Many unaty opetations, such as computing the sum of all the elements in the array, are 
# implemented as methods of the 'ndarray' class :

In [19]:
a = rg.random((2,3))
a

array([[0.82770259, 0.40919914, 0.54959369],
       [0.02755911, 0.75351311, 0.53814331]])

In [20]:
a.sum()

3.1057109529998157

In [21]:
a.min()

0.027559113243068367

In [22]:
a.max()

0.8277025938204418

In [24]:
# By default, those operations apply to the array as though it were a list of numbers, regardless
# of it's shape. However, by specifying the 'axis' parameter you can pply an operation along the
# specified axis :

In [28]:
b = np.arange(12).reshape(3, 4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [27]:
b.sum(axis=0)            #sum of each column

array([12, 15, 18, 21])

In [28]:
b.min(axis=1)            #min of each row

array([0, 4, 8])

In [29]:
b.cumsum(axis=1)         #cumulative sum along each row

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]], dtype=int32)

In [30]:
# UNIVERSAL FUNCTIONS

In [31]:
# Numpi provides familiar mathematical functions such as sin, cos and exp. In numpy, those are called
# universal functions('ufunc'). Within numpy, those functions operate elementwise on an array,
# producing an array as output :

In [33]:
B = np.arange(3)

np.exp(B)

array([1.        , 2.71828183, 7.3890561 ])

In [34]:
np.sqrt(B)

array([0.        , 1.        , 1.41421356])

In [35]:
C = np.array([2., -1, 4.])

In [36]:
np.add(B, C)

array([2., 0., 6.])

In [37]:
# INDEXING, SLICING AND ITERATING

In [38]:
# One-dimentional arrays can be indexed, sliced and iterated over :

In [40]:
a = np.arange(10)**3
a

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [41]:
a[2]

8

In [42]:
a[2:5]

array([ 8, 27, 64], dtype=int32)

In [49]:
a[:6:2] = 1000

In [46]:
a

array([100,   1, 100,  27, 100, 125, 216, 343, 512, 729], dtype=int32)

In [47]:
a[: :-1]

array([729, 512, 343, 216, 125, 100,  27, 100,   1, 100], dtype=int32)

In [50]:
for i in a:
    print(i**(1/3.))

9.999999999999998
1.0
9.999999999999998
3.0
9.999999999999998
5.0
5.999999999999999
6.999999999999999
7.999999999999999
8.999999999999998

In [51]:
# Multi-dimentional arrays can have one index per axis. Those indices are given in a tuple separated
# by commas :

In [54]:
def f(x,y):
    return 10*x+y

b = np.fromfunction(f,(5,4), dtype=int)
b

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23],
       [30, 31, 32, 33],
       [40, 41, 42, 43]])

In [27]:
b[2, 3]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [56]:
b[0:5, 1]            #Each row in the second column of b

array([ 1, 11, 21, 31, 41])

In [57]:
b[ : , 1]            #Equivalent of previous example

array([ 1, 11, 21, 31, 41])

In [58]:
b[1:3, : ]           #each column in the second and third row of b

array([[10, 11, 12, 13],
       [20, 21, 22, 23]])

In [21]:
# When fewer indices are provided than the number of axes, the missing indices are considered complete slices :
b[-1]     # the last row, equivakent to b[-1, :]
array([40, 41, 42, 42])

NameError: name 'array' is not defined

In [ ]:
# NumPy allows you to write this using dots as 'b[i,...]'
# The dots(...) represent as many colons as needed to produce a complete indexing tuple. For example,
# if 'x' is an array with 5 axes, then :

# x[1, 2, ...] is equivalent to x[1, 2, :, :, :]
# x[..., 3] to x[:, :, :, :, 3]
# x[4, ..., 5, :] to x[4, :, :, 5, :]

In [22]:
c = np.array( [[[ 0, 1, 2],
               [ 10, 12, 13]],
              [[100, 101, 102],
               [110, 112, 113]]])
c.shape

(2, 2, 3)

In [24]:
c[1, ...]

array([[100, 101, 102],
       [110, 112, 113]])

In [23]:
c[..., 2]

array([[  2,  13],
       [102, 113]])

In [29]:
# Iterating over multiple arrays is done with respect to the first axis :
for row in b:
    print(row)

[0 1 2 3]
[4 5 6 7]
[ 8  9 10 11]

In [30]:
for element in b.flat:
    print(element)

0
1
2
3
4
5
6
7
8
9
10
11

In [31]:
# SHAPE MANIPULATION :

In [32]:
# An array has a shape given by the number of elements along each axis :

In [38]:
a = np.floor(10*rg.random((3,4)))
a

array([[8., 4., 5., 0.],
       [7., 5., 3., 7.],
       [3., 4., 1., 4.]])

In [39]:
a.shape

(3, 4)

In [40]:
# The shape of the array can be changed with various commands. Note that all of them return a modified
# array, not the original :

In [41]:
a.ravel() # flattenes the array

array([8., 4., 5., 0., 7., 5., 3., 7., 3., 4., 1., 4.])

In [42]:
a.reshape(6,2) # returns the array with a modified shape

array([[8., 4.],
       [5., 0.],
       [7., 5.],
       [3., 7.],
       [3., 4.],
       [1., 4.]])

In [43]:
a.T # returns the array, transposed

array([[8., 7., 3.],
       [4., 5., 4.],
       [5., 3., 1.],
       [0., 7., 4.]])

In [44]:
a.T.shape

(4, 3)

In [45]:
a.shape

(3, 4)